export EDITOR=nvim

alias vim=nvim
alias r="./bin/rails"
alias pn=pnpm
alias cz=chezmoi
alias cze='chezmoi edit --apply'
alias sg="ast-grep -p"
alias show-path='echo $PATH | tr : "\n"'

if [[ -s $HOME/.zshenv.local ]]; then
  source $HOME/.zshenv.local
fi
