[tools]
"npm:@biomejs/biome" = "2.2.2"
"npm:@openai/codex" = "latest"
"npm:@sourcegraph/amp" = "latest"
"npm:opencode-ai" = "latest"
"npm:eas-cli" = "latest"
"npm:pnpm" = "latest"
"npm:serve" = "latest"
bun = "1.2.23"
node = "22.21.1"
python = "3.13"
ruby = "3.2.9"
rust = "latest"
usage = "latest"
uv = "latest"

{{- if eq .chezmoi.os "linux"}}
java = "21"
{{ else }}
java = "25"
{{ end }}

[settings]
idiomatic_version_file_enable_tools = ["ruby", "python"]
